html {
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: 'Righteous', cursive;;
  background-color: #e6e4e4;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

.app {
  width: 1274px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}