html {
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: 'Righteous', cursive;;
  background-color: #e6e4e4;
  min-height: 100%;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}