.section {
  width: 100%;
  padding: 22px;
}

h2 {
  text-align: center;
}

.list {
  margin-top: 24px;
  display: flex;
  column-gap: 20px;
  justify-content: space-around;
}

.item {
  width: calc(100% / 4);
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  border: 2px solid gray;
  border-radius: 38px 0px 38px 0px;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
  margin-top: 20px;
}