.header {
  background-color: gray;
  display: flex;
  justify-content: space-between;
}

.logo img{
  width: 150px;
  height: 100px;
  margin: 20px 10px 10px;
}

.mainInfo {
  display: flex;
  padding: 20px 20px 10px;
  justify-content: space-around;
}

.avatar img{
  width: 50px;
  height: 50px;
  background-color: rgb(194, 192, 192);
  border-radius: 50px;
  margin-right: 20px;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.userName {
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: end;
}

.form {
  display: flex;
  align-items: center;
  border: 1px solid rgba(84, 83, 83, 0.695);
  border-radius: 10px;
  background-color: rgb(181, 178, 178);
  padding: 5px;
  margin-bottom: 5px;
}

.input input{
  background-color:  rgb(181, 178, 178);
  padding: 5px;
  border: none;
}

.account {
  display: flex;
  justify-content: space-around;
}

.cart {
  text-decoration: none;
}

.count {
  color: black;
}