.poster {
  background: url('../images/poster.jpg');
  background-size: cover;
  position: relative;
  flex-grow: 1;
  height: 55vh;
}

.title {
  font-weight: 900;
  font-size: 119px;
  line-height: 145px;
  text-transform: uppercase;
  color: #e0d9d9;
  text-shadow: 4px 0 8px #000;
  text-align: center;
}

.product {
  position: relative;
  padding-left: 42px;
  display: flex;
  align-items: stretch;
  margin-top: 9px;
}

.subtitle {
  line-height: 20px;
  text-transform: uppercase;
  color: rgb(255 253 54);
  text-shadow: 4px -3px 11px black;
}

.head {
  font-weight: 700;
  font-size: 50px;
  text-shadow: 4px -3px 11px black;
  line-height: 51px;
  text-transform: uppercase;
  color: rgb(255 253 54);
  max-width: 500px;
  margin: 10px 0 24px 0;
}

.image {
  position: relative;
  flex-grow: 1;
  height: 250px;
}

.image img {
  position: absolute;
  bottom: -20%;
  right: 10%;
  max-width: 70%;
}