.poster {
  background: url('../images/poster.jpg');
  background-size: cover;
  position: relative;
  flex-grow: 1;
  height: 23em;
}

.title {
  font-weight: 900;
  font-size: 119px;
  line-height: 145px;
  text-transform: uppercase;
  color: #e0d9d9;
  text-shadow: 4px 0 8px #000;
  text-align: center;
}

@-webkit-keyframes blink6 {
  10% { transform: scale(1, 1) rotate(80deg); }
  20% { transform: scale(0, 0) rotate(160deg); }
  100% { transform: scale(0, 0) rotate(0deg); }
 }
 @keyframes blink6 {
  10% { transform: scale(1, 1) rotate(80deg); }
  20% { transform: scale(0, 0) rotate(160deg); }
  100% { transform: scale(0, 0) rotate(0deg); }
 }

 .title:after, .title:before {
   content: "";
   position: absolute; top: 14%; left: 20%;
   display: block;
   width: 100px;
   height: 100px;
   background-image: 
     radial-gradient(rgba(255,255,255,1), rgba(255,255,255,0) 30%),
     linear-gradient(45deg, rgba(0,0,0,0) 49%, rgba(255,255,255,.4) 50%, rgba(0,0,0,0) 51%),
     linear-gradient(135deg, rgba(0,0,0,0) 49%, rgba(255,255,255,.4) 50%, rgba(0,0,0,0) 51%);
   -webkit-animation: blink6 2s linear infinite;
   animation: blink6 10s linear infinite;
   transform: scale(0, 0) rotate(0deg);
 }
 .title:before {
   top: -3%;
   right: 20%; left: auto;
   -webkit-animation-delay: 5s;
   animation-delay: 5s;
 }

.product {
  position: relative;
  padding-left: 42px;
  display: flex;
  align-items: stretch;
  margin-top: 9px;
}

.subtitle {
  line-height: 20px;
  text-transform: uppercase;
  color: rgb(255 253 54);
  text-shadow: 4px -3px 11px black;
}

.head {
  font-weight: 700;
  font-size: 50px;
  text-shadow: 4px -3px 11px black;
  line-height: 51px;
  text-transform: uppercase;
  color: rgb(255 253 54);
  max-width: 500px;
  margin: 10px 0 24px 0;
}

.image {
  position: relative;
  flex-grow: 1;
  height: 250px;
}

.image img {
  position: absolute;
  bottom: -20%;
  right: 10%;
  max-width: 70%;
}