.container {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.container h2 {
  text-align: center;
}

.productsList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.productItem {
  width: 23%;
  background-color: chartreuse;
  color:cadetblue;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.5);
}

.image {
  margin-right: 10px;
}

.image img {
  transition: 1s;
  border-radius: 10px;
}

.image img:hover {
  transform: scale(1.2);
}