.sidebar {
  height: 55vh;
  padding: 30px;
  background-color: aqua;
}

.title {
  font-size: 24px;
}

.link{
  color:  rgba(0, 0, 0, 0.6);
  font-size: 24px;
}

.activated {
  color: gold;
}

.favouriteLink{
  margin-top: 10px;
  margin-bottom: 10px;
}

img::after{
  align-items: center;
}